* {
  margin: 0;/*selector universal*/
  padding: 0;
  
}
body
{
    font-family: Montserrat;
}
img:not([alt])
{
    border:3px solid red
}
a[href$=".pdf"]::after {
    content: url("https://www.shareicon.net/data/16x16/2016/08/13/808584_document_512x512.png");
    margin-left: 5px;
}
header
{
   
    margin-top: 60px;
    width: 100%;
    display:flex;
    align-items: center;
    height: auto;
    border: 1px green solid;
    background-color: #f2bd0e1c;
}
header h1
{
    
    display: inline-block;
    font-size: 3em;
    color: green;
}
header h2
{
    display: inline-block;
    font-size: 2em;
    color: green;
}
header a {
  display: inline-block;
}
.logo {
  max-height: 200px;
  height: auto;
  width: auto;           
  border-radius: 50%;
  margin-right: 20px;
  
}
.logo:hover{transform:scale(1.1);}

nav
{
    position: fixed;
    top:0;
    right:0;
    width: 100%;
    margin-bottom: 20px;
    border: 1px green solid;
    padding-top:15px;
    text-align: center;
    background-color: #f2bd0e42;
    background-color: #f2bd0e42;
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    
}
nav a
{
    display:inline-block;
    border:green solid 1.5px;
    border-top-left-radius: 10%;
    border-top-right-radius:10% ;
    padding: 10px;
    text-align: center;
    margin-left: 30px;
    font-size: 1.1em;
    background-color:green;
    color: white;
}
nav a:hover {
  background-color: rgb(82, 184, 82);
  font-weight:bold;
  color: white;
}
nav .logo
{display:none}


main
{
    overflow:hidden;
    background-color: #f2bd0e11;
    padding: 40px;
    margin-top:20px;
    margin-bottom: 20px;
    border: 1px green solid;
}
.formulario {
    width: auto;
    margin: 40px auto;
    padding: 20px;
    border:dotted 2px green;
    background-color: #f2bd0e42;
    
}

.label {
    display: inline-block;
    width: 38%;
    margin: 5px;
    text-align: right;
}

.formulario input
{
    width: 100%;
    margin: 5px 0 15px 0;
    padding: 8px;
    box-sizing: border-box;
    
}
.formulario textarea
{
    width: 100%;
    margin: 5px 0 15px 0;
    padding: 8px;
    box-sizing: border-box;
    
}
.formulario input[type="checkbox"]
{
    width:auto;
   display: inline-block;
   margin-right: 10px;
   vertical-align: middle;

}
.formulario a
{
color: green;
font-weight: bold;
}
.formulario a:hover
{
color:  rgb(82, 184, 82);
font-weight: bold;
}
.infocontact
{
    margin-top:30px;
    margin-bottom: 30px;
}
.infocontact a
{
color: green;
font-weight: bold;
}
.infocontact a:hover
{
color:  rgb(82, 184, 82);
font-weight: bold;
}
.Tablaservicios a
{
color: green;
font-weight: bold;
}
.Tablaservicios a:hover
{
color:  rgb(82, 184, 82);
font-weight: bold;
}
.Tablaservicios h2
{
    font-size: 1.7em;
    color: green;
    margin-bottom:30px;
}
.Tablaservicios /* */
{width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  font-size: 1.2em;
  text-align: center;
}
  .Tablaservicios caption
  {margin-bottom: 15px;
color:green}

.Tablaservicios td
{
padding:10px;
}

.Tablaservicios th {
  padding: 25px;
  color: rgb(0, 45, 0);
  font-weight: bold;
}
.Tablaservicios tr:nth-child(odd) {
  background-color: #ffffff;  
}
.Tablaservicios tr:nth-child(even) {
  background-color: #f5f5f5; 
}
.Tablaservicios tr:first-child
{
  background-color: #bde5b8;
}
.Tablaservicios td:first-child
{
    background-color: #f2bd0e42;
    padding: 25px;
  color: rgb(0, 45, 0);
  font-weight: bold;
}
caption
{
  caption-side: bottom;/* para poner el captio abajo: no cuento donde lo pongo, es el css quee va a permitirlo*/
  padding-top: 30px;
}
button
 {
    display:block;
    text-align:center;
    padding:10px 20px;
    margin: 30px auto;
     background-color: green;
  color: white;
    
 }
 button:hover
 {
  background-color: rgb(82, 184, 82);
  font-weight:bold;
  color: white;
 }
footer
{
    clear:both;
    background-color: #f2bd0e42;
    border: 1px green solid;
    text-align: center;
    padding: 10px;
}
footer a
{
color: green;
font-weight: bold;
}
footer a:hover
{
color:  rgb(82, 184, 82);
font-weight: bold;
transform: scale(1.2);
}
.mapa
{
     display: inline-block;
     vertical-align: middle;
}
.redes, .redes2
{
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    font-size: 0;
}

.redes a
{
    display:inline-block;
    font-size: 0;   
}

footer img
{
    width:50px;
    height: 50px;
    border-radius: 20%;
    margin: 5px;
}
footer img:hover
{
    transform:scale(1.15);
}
.icono-fijo/*punto 12.1*/
{
    position:fixed;
    bottom: 10px;
    right: 10px;/*probar a mano el posicionamento*/
    border-radius: 30%;
    margin:0px;
}
.icono-fijo img/* para mi no olvidar de no poner.img !!img es una etiqueta no es una clase!!*/
{
  border-radius: 20%;
  width:50px;
  height: 50px ;
}
.icono-fijo img:hover
    {
      transform: scale(1.3);
    }

@media (min-width: 700px) and (max-width: 1199px)
{}

@media (max-width: 699px)
{}